body {
	font-family: sans-serif;
	background-image: url(../images/background1.jpg);
	background-position: center;
	background-attachment: fixed;
	margin: 0;
	padding: 0;
}
ul {
	list-style: none;
	font-size: 1.5em;
	margin-left: 300px;
	padding: 0;
	margin-top: 30px;
}
h1{
	margin: 25px;
	float: left;
	color: #3b3b3b;
	transition-property: color;
	transition-duration: 0.5s;
}
li {
	margin-left: 75px;
	float: left;
	color: #595959;
	transition-property: color;
	transition-duration: 0.5s;
}
header {
	background-color: white;
	width: 100%;
	position: fixed;
	border-bottom: 1px solid gray;
	margin: 0;
	padding: 0;
}
section {
	padding-top: 300px;
	max-width: 1280px;
	margin: 0 auto;
}
li:hover{
	color: black;
	cursor: pointer;
	transition-property: color;
}
h1:hover{
	color: #0084e3;
	transition-property: color;
	cursor: pointer;
}
.block {
	float: left;
	background-color: rgba(255,255,255,0.6);
	line-height: 7px;
}
.block h2 {
	font-size: 20px;
	color: #2e2e2e;
	padding-left: 10px;
	padding-bottom: 3px;
}
.block p {
	font-size: 16px;
	color: #404040;
	padding-left: 10px;
	padding-right: 20px;
}
footer {
	background-color: white;
	width: 100%;
	position: static;
	border-top: 1px solid gray;
	margin: 0;
	padding: 0;
	clear: left;
	margin-top: 350px;
	height: 125px;
}
footer p {
	text-align: center;
}
footer ul {
	text-align: center;
	color: black;
	font-size: 2.5em;
	margin-bottom: 30px;
	padding-left: 290px;
}
li a {
	color: #595959;
	transition-property: color;
	text-decoration: none;
	transition-duration: 0.5s;	
}
li a:hover {
	color: black;
	transition-property: color;
	cursor: pointer;	
}
.blockR {
	float: left;
	background-color: rgba(255,255,255,0.6);
	line-height: 7px;
	margin-left: 3px;
}
.blockRl {
	float: left;
	background-color: rgba(0, 157, 224,0.6);
	line-height: 7px;
	clear: left;
	transition-property: background-color;
	transition-duration: 1s;
}
.blockR h2 {
	font-size: 26px;
	color: #2e2e2e;
	padding-left: 10px;
	padding-bottom: 3px;
	padding-right: 20px;	
}
.blockRl p {
	font-size: 26px;
	color: #f2f2f2;
	padding-left: 20px;
	padding-bottom: 3px;
	padding-right: 20px;	
}
.blockRl:hover {
	background-color: rgba(0, 157, 224,1);
	transition-property: background-color;
	cursor: pointer;
}
p a {
	color: #f2f2f2;
	text-decoration: none;
}